.filterBar {
    display: flex;
    gap: 10px;
}

.filterBar button {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    background: #ffff;
    color: #555;
    border-radius: 10px;
    transition: 0.3s;

}

.filterBar button:hover {
    background: #edf3ff;
    color: #2563eb;
}

.active {
    background: #2563eb !important;
    color: white !important;
}


@media (max-width:768px) {
    .filterBar {
        flex-wrap: wrap;
        gap: 10px;
    }

    .filterBar button {
        flex: 1;
        min-width: 120px;
    }
}