.sidebar {
  width: 250px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 15px;

  text-decoration: none;
  color: #555;

  border-radius: 10px;

  transition: 0.3s;
}

.menu a:hover {
  background: #edf3ff;
  color: #2563eb;
}

.active {
  background: #2563eb;
  color: white !important;
}